services:
    web:
        build: .
        working_dir: /var/www/html
        volumes:
            - ./:/var/www/html
        ports:
            - "8180:80"
        depends_on:
            - db
        environment:
            APACHE_DOCUMENT_ROOT: /var/www/html/public

    db:
        image: mariadb:10.5
        restart: always
        environment:
            MYSQL_ROOT_PASSWORD: root
            MYSQL_DATABASE: e_commerce_project
            MYSQL_USER: symfony
            MYSQL_PASSWORD: symfony
        ports:
            - "3307:3306"
        volumes:
            - db_data:/var/lib/mysql

    phpmyadmin:
        image: phpmyadmin:5.2.1
        restart: unless-stopped
        ports:
            - "8081:80"
        environment:
            PMA_HOST: db
            MYSQL_ROOT_PASSWORD: root
        depends_on:
            - db
volumes:
    db_data: